/* layout */
#wrapper {
  width: 1024px;
  margin: 0 auto;
  padding: 0 10px;
  position: relative; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5; }

#header > div {
  width: 1024px;
  margin: 0 auto;
  background: #fff; }

#header > div > div {
  position: relative; }

#sidebar {
  position: fixed;
  top: 95px;
  left: 0;
  width: 100%; }

body.home #sidebar {
  top: 20px; }

#sidebar > div {
  width: 1024px;
  margin: 0 auto; }

#sidebar > div > div {
  width: 419px; }

body.home #sidebar > div > div {
  width: 581px; }

#body {
  position: relative;
  padding: 97px 0 0 419px;
  z-index: 3; }
  #body.wide {
    padding-left: 0; }
    #body.wide #content {
      margin: 0; }

body.home #body {
  padding: 80px 0 0 457px; }

#content {
  margin: 0 62px 0 40px; }

body.home #content {
  margin: 0; }

#top {
  padding-bottom: 50px; }

#bottom {
  position: relative;
  padding-top: 50px; }
